<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321349819667-8d2ulvs737bcicd21bpgcv2r4r5861go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321349819667-8d2ulvs737bcicd21bpgcv2r4r5861go</string>
	<key>API_KEY</key>
	<string>AIzaSyAQyYdJAmx8EucLArCSlSe5QjSlC8IXmIw</string>
	<key>GCM_SENDER_ID</key>
	<string>321349819667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mechanix-26af9</string>
	<key>STORAGE_BUCKET</key>
	<string>mechanix-26af9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321349819667:ios:ddd318b62f2892205ccee6</string>
	<key>DATABASE_URL</key>
	<string>https://mechanix-26af9-default-rtdb.firebaseio.com</string>
</dict>
</plist>